* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
    margin-bottom: 10px;
}

p {
    margin: 6px 0;
}

h2 {
    margin: 6px 0;
}

h3 {
    margin: 6px 0;
}

ul {
    padding-left: 1em;
}

ul li {
    margin: .5em 0;
}

.large-grey {
    font-size: larger;
}

.mid-bold {
    font-size: medium;
    font-weight: bold;
    /* margin: .5em 0; */
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 65%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 3em 4em;
    background-color: white;
}

.cv-header {
    margin-bottom: 1em;
}

.avatar {
    height: 6em;
    width: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}

.icon {
    height: 1em;
    width: auto;
    padding-right: 5px;
    object-fit: cover;
}

.identity {
    display: flex;
    justify-content: space-between;
}

.identity * {
    margin: .2em 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.links .link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.link span {
    font-weight: 400;
    font-size: 14px;
}



.cv-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 50%;
}

.right-content {
    width: 40%;
}

.cv-section {
    margin-bottom: 2em;
}

.cv-subsection {
    margin-bottom: 1em;
}

.university {
    display: inline-block;
    margin-bottom: 8px;
}