* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    height: 2px;
    background-color: black;
    border-color: black;
    margin-bottom: 10px;
}

h1, h2, h3, p {
    margin: 6px 0;
}

ul {
    padding-left: 1em;
}

ul li {
    margin: .3em 0;
}

.font-weight-normal {
    font-weight: normal;
}

.cv-link {
    color: deeppink ;
}

.flex {
    display: flex;
}

.flex div {
    flex: 1;
}

.container {
    width: 65%;
    max-width: 1000px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 3em 4em;
    background-color: white;
}


.cv-header {
    margin-bottom: 1em;
}

.avatar {
    height: 6em;
    width: auto;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
}

.icon {
    height: 1em;
    width: auto;
    padding-right: 5px;
    /* object-fit: cover; */
}


.image-text {
    display: flex;
    align-items: center;
}

.identity {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.links .link{
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.link span {
    font-weight: 400;
    font-size: 14px;
}


.cv-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    margin-right: 1.5em;
    flex: 1.15;
}

.right-content {
    margin-left: 1.5em;
    flex: .85;
}

.cv-section {
    margin-bottom: 3em;
}

.cv-subsection {
    margin-bottom: 1em;
}

.education-section {
    margin-bottom: 1em;
}

.project {
    margin-bottom: 1.05em;
}

.project p {
    margin-bottom: 0;
}



@media screen and (max-width: 1600px) {
    .project {
        margin-bottom: .85em;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 80%; 
        padding: 1em 1em;
    }

    .avatar {
        height: 7em;
    }

    .cv-content {
        flex-direction: column;
    }

    .left-content {
        margin-right: 0;
        flex: 1;
    }
    
    .right-content {
        margin-left: 0;
        flex: 1;
    }

    .cv-section {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 750px) {
    .identity {
        flex-wrap: wrap;
    }

    .avatar {
        height: 10em;
    }
}