body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
    padding: 1.5em 4em;
    background-color: white;
}

img {
    height: 2px;
    width: 2px;
}

.identity{
    display: flex;
}

.cv-content {
    display: flex;
    justify-content: space-between;
}

.left-content {
    width: 50%;
}

.right-content {
    width: 45%;
}